.container {
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 10px;
}

input {
    text-align: right;
    font-size: 2rem !important;
}

.input-field {
    margin: 10px;
}